/*
** To start processing this file run "npm run watch" in terminal
** Add tailwind components to scss using imports:
**
** https://fontawesome.com/v5.15/how-to-use/on-the-web/using-with/sass
*/

$fa-font-path: "../webfonts";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


$secondary-color: #7B74EC;

html{

}

body{
  font-family: Roboto, Helvetica;
}

main{
  min-height:100vh !important;
}


.header{

  background-color: transparent;

  &__image{
    transform: rotate(180deg);
  }
}


.footer{
  &__image{
    margin-bottom: -5em;
  }
}


.cr-header{
  text-align: center;
  margin: auto;
}

.heading {
  font-size: 2em;
  margin: 3em 0 2em;
}
.st-input {
  position: relative;

  span {
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    cursor: pointer;
  }
}

/* Input Field Animation */
/* Keep things contained do not style html attrs outside of classes: */

.st-inputGroup {
  font-family:"Poppins Medium", Helvetica;
  display: flex;
  margin: 1em 0;
  border: none;

  input[type=text]:focus, select:focus{
    outline: none;
  }

  select {
    margin: 2em 0 0;
  }
  input {
    background-color: inherit;
    color: #000;
    font-size: 1em;
    padding: 30px 10px 10px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
  }
  input::placeholder {
    opacity: 0.9;
  }
  select {
    border-bottom: 2px solid #000;
    cursor: pointer;
  }
  label {
    position: absolute;
    padding-left: 10px;
    margin-bottom: 2px;
    color: #fff;
    cursor: pointer;
    transform: translate(4px, -14px) scale(1.02);
    transform-origin: left top;
    text-transform: uppercase;
    font-weight: normal;
  }
  input, label {
    transition: 0.4s all ease;
  }

  input[type=text]:focus{
    border: none !important;
  }

  input:focus, input:not(:placeholder-shown) {
    outline: none;
    border: none;
  }
  //foreach input focus that follows a label:
  input:focus ~ label, input:not(:placeholder-shown) ~ label {
    transform: translate(10px, -2rem) scale(0.9);
    padding: 0;
    color: #000;
  }

}


//Elements:

.st-container{
  max-height:100%;
  display:flex;
  flex-wrap: wrap;
  width:100%;
  margin:auto;
  padding: 2rem 1.5rem 2rem 2rem;
}

.st-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em 2em;
  /* Grid-template-rows starts from the first row downward: */
  /* You can add as many template rows as you like: */

  //grid-template-rows: 50px;

  //Define the height of the upfollowing grid rows:
  // set this on auto and give cards a max height.
  grid-auto-rows: minmax(100px, auto);
}

.st-grid-row-span-2{
  grid-row: span 1;
  grid-column:span 2;
}


.st-item-flex{
  display:flex;
}

// Classroom styling:

.cr-chat{
  align-items: center;
  text-align: center;
  padding:2em;
  grid-row:span 2;

  &__content{

    max-height:400px;
    overflow-y: auto;

    &__title{
    }

    &__row{
      display: flex;
      flex-direction: row;
      min-height: 4rem;
      height: auto;

      &__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__message{
        padding: 1rem;
        text-align: left;
      }

      img{
        margin-top:0.6rem;
        margin-right:1rem;
      }

    }

  }



}

.cr-subjects{
  //Divide into 2 columns:
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0em 1em;

  // makes subjects scrollable:
  .st-card:first-child{
    max-height:350px;
    overflow-y: auto;
  }
}

.cr-extensions{

  &__title{
    margin-bottom:1rem;
  }

  &__list{
    justify-content: center;
  }


  &__add-form{
    display: flex;
    padding:0.5rem;
    // top to bottom:
    flex-direction: column;
    align-items:center;

    div{
      margin-bottom:0.3rem;
    }



  }

  &__add-new{
    cursor: pointer;
    font-size:24px;
  }

}

// modifiers start with "--"
.st-card{
  align-items: center;
  padding:3rem;
  background-color:white;
  border-radius: 0.375rem;

  &--headers{
    font-weight: bold;
    text-align: center;
    padding:0.5rem 1rem 1rem 1rem;
  }

  &--note{
    display:grid;
    min-height:200px;
    max-height:410px;
    overflow-y: hidden;
    padding:1rem;

  }


}

.st-sidebar{


}

.st-error{
  color:red;
  text-align: center;
}

a.st-hover:hover{
  color:$secondary-color;
}



.subject-grid-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 2em 2em;
  grid-template-rows: repeat(3, 40px);
}

// Create a separate container for notes:
.notes-container {
  padding:1em;
  height:430px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em 1em;




}



.ck-textarea{
  padding:2rem;
  width:100%;

  h1{
    font-size:2.5rem;
  }

  h2{
    font-size:2rem;
  }

  h3{
    color:$secondary-color;
    font-size:1.5rem;
  }

}

.st-scroll-custom{


  &::-webkit-scrollbar{
    width:12px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary-color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -webkit-border-radius: 10px;
    border-radius: 0.375rem;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #4551f3;
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(69, 81, 243, 0.4);
  }

}

// Ckeditor:
.ck-editor__editable_inline {
  min-height: 500px;
}


.card-editable{

  textarea{
    min-height:150px;
    margin:1rem 1rem 0.2rem 1rem;
    width:100%;
    border: none;
    overflow: auto;
    outline: none;
  }
}

.space-between{
  justify-content: space-between;
}

.noPadding{
  padding: 0 !important;
}